.Decklist {
    overflow: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.detail {
    position: absolute;
    left: 30%;
    background-color: white;
}

.detail img {
    max-width: 120px;
}